<?php 
/**
 * main configuration file
 *
 * @author CRP Henri Tudor - TAO Team - {@link http://www.tao.lu}
 * @license GPLv2  http://www.opensource.org/licenses/gpl-2.0.php
 * 
 */


# plugins directory
define("DIR_PLUGIN"			, dirname(__FILE__). "/../plugins/");

# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# models directory
define("DIR_MODELS"			, dirname(__FILE__). "/../models/");

# plugin directory
define('DIR_PLUGINS'		, dirname(__FILE__).'/../plugins/');

# views directory
define("DIR_VIEWS"			, "views/");

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");

# default module name
define('DEFAULT_MODULE_NAME', 'Subjects');

#default action name
define('DEFAULT_ACTION_NAME', 'index');


# theme directory
$GLOBALS['dir_theme']		= "templates/";

#BASE PATH: the root path in the file system (usually the document root)
define('BASE_PATH', ROOT_PATH . '/taoSubjects');

#BASE URL (usually the domain root)
define('BASE_URL', ROOT_URL. '/taoSubjects');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/' . DIR_VIEWS);

#TAO extension Paths
define('TAOBASE_WWW',  ROOT_URL  . '/tao/' . DIR_VIEWS);
define('TAOVIEW_PATH', ROOT_PATH . '/tao/' . DIR_VIEWS);
define('TAO_TPL_PATH', ROOT_PATH . '/tao/' . DIR_VIEWS . $GLOBALS['dir_theme']);
?>