<?php 
/**
 * main configuration file
 *
 * @author CRP Henri Tudor - TAO Team - {@link http://www.tao.lu}
 * @license GPLv2  http://www.opensource.org/licenses/gpl-2.0.php
 * 
 */
# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# models directory
define("DIR_MODELS"			, dirname(__FILE__). "/../models/");

# views directory
define("DIR_VIEWS"			, dirname(__FILE__). "/../views/");

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");

define('CACHE_PATH'			, ROOT_PATH . '/tao/data/cache/');

# default module name
define('DEFAULT_MODULE_NAME', 'Subjects');

#default action name
define('DEFAULT_ACTION_NAME', 'index');


# theme directory
$GLOBALS['dir_theme']		= "templates/";

#BASE PATH: the root path in the file system (usually the document root)
define('BASE_PATH', ROOT_PATH . '/taoSubjects');

#BASE URL (usually the domain root)
define('BASE_URL', ROOT_URL. '/taoSubjects');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/views/');

#TAO extension Paths
define('TAOBASE_WWW',  ROOT_URL  . '/tao/views/');
define('TAOVIEW_PATH', ROOT_PATH . '/tao/views/');
define('TAO_TPL_PATH', TAOVIEW_PATH . $GLOBALS['dir_theme']);
?>